body {
  background-image: linear-gradient(pink,skyblue);
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  background-attachment: fixed;
  font-family: "papyrus", fantasy;
  color: #333333;
}